.root:global(.__wab_instance) {
  object-fit: cover;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root:global(.__wab_instance) {
    height: auto;
    width: 100%;
    min-width: 0;
  }
}
.menuItem___5ODJj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-weight: 500;
}
.text__zoWn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.menuItem__yumNt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__gsYol {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox__gsYol > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__gsYol > :global(.__wab_flex-container) > *,
.freeBox__gsYol > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gsYol > :global(.__wab_flex-container) > picture > img,
.freeBox__gsYol
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__vS1Ty {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__kd5Z1 {
  white-space: pre;
  text-overflow: ellipsis;
}
.menuItem__wiT0C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__h6Iqv {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox__h6Iqv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__h6Iqv > :global(.__wab_flex-container) > *,
.freeBox__h6Iqv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h6Iqv > :global(.__wab_flex-container) > picture > img,
.freeBox__h6Iqv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__hqyr6 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__apTbk {
  white-space: pre;
  text-overflow: ellipsis;
}
.menuItem__iNUbu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___1Lz0Q {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox___1Lz0Q > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___1Lz0Q > :global(.__wab_flex-container) > *,
.freeBox___1Lz0Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Lz0Q > :global(.__wab_flex-container) > picture > img,
.freeBox___1Lz0Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__eVdH {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text___2IGuf {
  white-space: pre;
  text-overflow: ellipsis;
}
.menuItem__oygmy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wOmaX {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox__wOmaX > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__wOmaX > :global(.__wab_flex-container) > *,
.freeBox__wOmaX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wOmaX > :global(.__wab_flex-container) > picture > img,
.freeBox__wOmaX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__fD0Nq {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text___5SmG3 {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__xvoX2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___75Xzy {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox___75Xzy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___75Xzy > :global(.__wab_flex-container) > *,
.freeBox___75Xzy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___75Xzy > :global(.__wab_flex-container) > picture > img,
.freeBox___75Xzy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__jlJz {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text___4F27S {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.freeBox__cTjFa {
  position: relative;
  flex-grow: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cTjFa {
    display: none;
  }
}
.menuItem__pSEaH:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__az34N {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox__az34N > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__az34N > :global(.__wab_flex-container) > *,
.freeBox__az34N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__az34N > :global(.__wab_flex-container) > picture > img,
.freeBox__az34N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__cP33N {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__sQImX {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem___7AdtW:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__osGNj {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox__osGNj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__osGNj > :global(.__wab_flex-container) > *,
.freeBox__osGNj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__osGNj > :global(.__wab_flex-container) > picture > img,
.freeBox__osGNj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__w9SeH {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__lxKzj {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem___1QplQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___2Qs8D {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox___2Qs8D > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___2Qs8D > :global(.__wab_flex-container) > *,
.freeBox___2Qs8D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Qs8D > :global(.__wab_flex-container) > picture > img,
.freeBox___2Qs8D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__cIwUu {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__wDphg {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__hK1Fx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__hhkfF {
  position: relative;
  display: flex;
  flex-direction: row;
}
.freeBox__hhkfF > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__hhkfF > :global(.__wab_flex-container) > *,
.freeBox__hhkfF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hhkfF > :global(.__wab_flex-container) > picture > img,
.freeBox__hhkfF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___29M5C {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text__am4H4 {
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}
