.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  height: 1801px;
  flex-shrink: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox__eDvYd {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.freeBox__eDvYd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__eDvYd > :global(.__wab_flex-container) > *,
.freeBox__eDvYd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eDvYd > :global(.__wab_flex-container) > picture > img,
.freeBox__eDvYd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eDvYd {
    padding: 24px;
  }
}
.h4__ev7CN {
  position: relative;
  align-self: center;
  width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__wqqaN {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__wqqaN > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__wqqaN > :global(.__wab_flex-container) > *,
.freeBox__wqqaN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wqqaN > :global(.__wab_flex-container) > picture > img,
.freeBox__wqqaN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wqqaN {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wqqaN > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wqqaN > :global(.__wab_flex-container) > *,
  .freeBox__wqqaN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wqqaN > :global(.__wab_flex-container) > picture > img,
  .freeBox__wqqaN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.metricCard__e7IZn:global(.__wab_instance) {
  position: relative;
}
.metricCard___22Gk0:global(.__wab_instance) {
  position: relative;
}
.text__yywte {
  padding-right: 0px;
}
.metricCard___41Tw3:global(.__wab_instance) {
  position: relative;
}
.freeBox__nYjtm {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__nYjtm > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__nYjtm > :global(.__wab_flex-container) > *,
.freeBox__nYjtm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nYjtm > :global(.__wab_flex-container) > picture > img,
.freeBox__nYjtm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nYjtm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nYjtm > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nYjtm > :global(.__wab_flex-container) > *,
  .freeBox__nYjtm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nYjtm > :global(.__wab_flex-container) > picture > img,
  .freeBox__nYjtm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__xdfcm {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-GkyY_vBieF55);
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-LBdBJvv8wGui);
}
.freeBox__xdfcm > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xdfcm > :global(.__wab_flex-container) > *,
.freeBox__xdfcm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xdfcm > :global(.__wab_flex-container) > picture > img,
.freeBox__xdfcm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.h4__pGezZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  min-width: 0;
}
.p__cYSfG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-0Y4wayQ7XVs4);
  min-width: 0;
}
.freeBox__d1Zkl {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-GkyY_vBieF55);
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-LBdBJvv8wGui);
}
.freeBox__d1Zkl > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__d1Zkl > :global(.__wab_flex-container) > *,
.freeBox__d1Zkl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d1Zkl > :global(.__wab_flex-container) > picture > img,
.freeBox__d1Zkl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.h4__g8ECq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  min-width: 0;
}
.p__haGt8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-0Y4wayQ7XVs4);
  min-width: 0;
}
.chart__hut18:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__aV7EZ {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-GkyY_vBieF55);
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-LBdBJvv8wGui);
}
.freeBox__aV7EZ > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__aV7EZ > :global(.__wab_flex-container) > *,
.freeBox__aV7EZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aV7EZ > :global(.__wab_flex-container) > picture > img,
.freeBox__aV7EZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.freeBox__m8Xtx {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
}
.freeBox__m8Xtx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m8Xtx {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m8Xtx > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m8Xtx > :global(.__wab_flex-container) > *,
  .freeBox__m8Xtx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__m8Xtx > :global(.__wab_flex-container) > picture > img,
  .freeBox__m8Xtx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__rUkv {
  display: flex;
  flex-direction: column;
}
.freeBox__rUkv > :global(.__wab_flex-container) {
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rUkv > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rUkv > :global(.__wab_flex-container) > *,
  .freeBox__rUkv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rUkv > :global(.__wab_flex-container) > picture > img,
  .freeBox__rUkv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.h4__l38FF {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__k8Gcc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-0Y4wayQ7XVs4);
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__lbc74 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.positions:global(.__wab_instance) {
  object-fit: cover;
}
